* { padding: 0; margin: 0; box-sizing: border-box;}
ul, ol { list-style: none;}
a { color: inherit; text-decoration: none;}
body { color: #333; background-color: #fff;}
.wrap { width: 1200px; margin: 0 auto;}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    height: 100px;
}

.logo {
}

.logo img{
    width: 70%;
    height: 70%;
}

.gnb {
    display: flex;
    margin-right: 10px;
}

.gnb > li {
    position: relative;
}

.gnb > li > a {
    display: block;
    padding: 0 50px;
    height: 100px;
    line-height: 100px;
}

.gnb ul {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
    height: 210px;
    padding: 6px;
    z-index: 1;
    background-color: ghostwhite;
    display: none;
}

.gnb ul a {
    padding: 14px 10px;
    display: block;
    text-align: center;
}


.gnb li:hover > a {
    color: darkorange;
}

.gnb ul a:hover {
    background-color: #393e88;
    color: #fff;
}




.slider {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.sliders {
    position: absolute;
    top: 0;
    left: 0;
}

.slide img {
    display: block;
}

.slide {
    position: relative;
}

.slide h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.192);
    padding: 20px 30px;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    font-size: 36px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
}

.contents {
    display: flex;
    gap: 15px;
    height: 200px;
    padding: 10px 0;
}
.tab {
    width: 390px;
}


.tab_title {
    display: flex;
    gap: 5px;
    border-bottom: 4px solid darkorange;
}

.tab_title h3 {
    height: 42px;
    line-height: 42px;
    text-align: center;
    flex: 1;
    background-color: #eee;
    font-size: 18px;
    cursor: pointer;
}

.tab_title h3.active {
    background-color: darkorange;
    color: #fff;
}

.tab_contents {
        font-size: 16px;
        padding: 6px;
}
.notice {
    /* display: none; */
}

.notice li {
    display: flex;
    justify-content: space-between;
}

.notice li a {
    padding: 6px 4px;
    display: block;
    width: 270px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.notice li a:hover {
    text-decoration: underline;
}

.gallery {
    display: none;
    text-align: center;
}

.gallery li {
    text-align: center;
    display: inline-block;
    padding: 10px 6px;
}

.gallery img {
    width: 110px;
}

.banner, .link {
    width: 390px;
}

.banner img, .link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #eee;
}

.f_logo {
    width: 200px;
}

.f_logo img {
    width: 80%;
    height: 80%;
    filter: grayscale(1);
    opacity: 0.5;
}

.f_side {
    flex: 1;
    text-align: center;
}

.f_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 16px;
}

.f_menu li a {
    padding: 0 16px;
}

.f_menu li:not(:last-child) {
    border-right: 1px solid #666
}

.copy {
    font-size: 14px;
    color: #999;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 410px;
    background-color: #fff;
    border: 1px solid #999;
    display: none;
}

.modal_box {
    position: relative;
}

.modal h3 {
    padding: 20px 0px;
    font-weight: bold;
    font-size: 24px;
    border-bottom: 1px solid #666;
    width: 540px;
    margin-left: 20px;
}
.modal p {
    padding: 20px;
}

.modal button {
    position: absolute;
    top: 340px;
    right: 25px;
    cursor: pointer;
    border: 1px solid ##33;
    padding: 8px 10px;
}