* { margin: 0; padding: 0; box-sizing: border-box;}
ul { list-style: none; }
a { color: inherit; text-decoration: none;}
body { color: #333; background-color: #fff;}
.wrap { width: 1200px; margin: 0 auto;}

.header {
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.gnb {
    display: flex;
    text-align: center;
}

.gnb > li {
    position: relative;
}

.gnb > li > a {
    display: block;
    line-height: 100px;
    height: 100px;
    padding: 0 40px;
    font-size: 22px;
}

.gnb > li > a:hover {
    color: darkorange;
}

.sub {
    z-index: 1;
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: #eee;
}

.sub li {
    padding: 6px;
}

.sub li a {
    padding: 10px;
    display: block;
    font-size: 18px;
}

.sub li a:hover {
    background-color: rgb(53, 66, 139);
    color: #fff;
}

.slider {
    overflow: hidden;
    height: 300px;
    margin-bottom: 10px;
    position: relative;
}

.sliders {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
}

.slide {
    position: relative;
}

.slide img{
    /* display: none; */
    display: block;
}

.slide h2 {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.699);
    color: #fff;
    padding: 20px 30px;
    transform: translate(-50%, -50%);
}

.contents {
    display: flex;
    gap: 15px;
    height: 200px;
    margin-bottom: 20px;
}

.tab_contents {
    width: 390px;
}

.tab_title {
    display: flex;
    border-bottom: 4px solid darkorange;
    flex: 1;
    margin-bottom: 5px;
    gap: 8px;
}

.tab_title h3 {
    background-color: #eee;
    flex: 1;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 10px;
}

.tab_title h3.active  {
    background-color: darkorange;
    color: #fff;
}

.notice {
    /* display: none; */
}

.notice li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notice li a{
    padding: 7px 10px;
    white-space: nowrap ;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.notice li a:hover {
    text-decoration: underline;
}


.gallery {
    display: none;
    text-align: center;
}

.gallery li {
    display: inline-block;
    padding: 20px 3px;
}

.gallery li img {
    width: 120px;
}


.banner , .link {
    width: 390px;
}

.banner img , .link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 20px;
    background-color: gainsboro;
}
.f_logo {
    width: 300px;
}
.f_side {
    margin-left: 200px;
}

.f_menu {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    font-weight: bold;
}
.copy {
    height: 50px;
    font-size: 14px;
    color: #999;
}

.modal {
    display: none;
    width: 500px;
    background-color: #fff;
    border: 1px solid black;
    padding: 30px;
    position: absolute;
    top: 25%;
    left: 30%;
}

.modal h3 {
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.modal p {
    line-height: 22px;
    margin-bottom: 50px;
}

.modal_contents {
    position: relative;
}
.modal_btn {
    position: absolute;
    right: 0;
    bottom: -20%;
    padding: 8px 10px;
    cursor: pointer;
    border: 1px solid black;
}