* {margin: 0; padding: 0; box-sizing: border-box;}
ul { list-style: none;}
a { text-decoration: none; color: inherit;}
body {color: #333; background-color: #fff;}

.main {
    display: flex;
    width: 1200px;
}
.header {
    width: 200px;
    border-right: 1px solid #333;
    padding: 10px;
}

.logo {
    padding: 10px 0;
}

.gnb {
    
}
.gnb > li {
    position: relative;
    text-align: center;
}
.gnb > li > a { 
    display: block;
    border-bottom: 1px solid #333;
    height: 50px;
    line-height: 50px;
    margin-top: -1px;
}

.gnb > li:hover > a { 
    background-color: rgb(43, 58, 139);
    color: #fff;
}
.sub {
    display: none;
    position: absolute;
    top: 0;
    left: 179px;
    background-color: rgba(0, 0, 0, 0.747);
    color: #fff;
    width: 100%;
}

.sub a{
    height: 50px;
    line-height: 50px;
    display: block;
}



.sub a:hover {
    background-color: rgb(85, 104, 211);
    color: #fff;
}

.contents {
    width: 400px;
    padding: 10px;
}
.banner {
    display: flex;
    align-items: center;
    padding: 20px 20px;
}
.banner:hover {
    box-shadow: 1px 1px 8px;
    border-radius: 15px;
}

.banner .texts {
    width: 280px;
    margin-left: 10px;
}
.banner h3 {
    font-size: 16px;
}
.banner p {
    font-size: 14px;
}
.arrow {
    width: 30px;
    height: 30px;
    border-top: 4px solid #333;
    border-right: 4px solid #333;
    rotate: 45deg;
}

.banner img {
    width: 60px;
    height: 60px;
    border: 1px solid #333;
}

.notice h3, .gallery h3 {
    padding: 14px 10px;
    border-bottom: 1px solid #333;
    margin: 0 0 10px 15px;
}
.notice {
    margin-bottom: 20px;
}
.notice li {
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
}
.notice a:hover{
    text-decoration: underline;
}
.gallery {
    margin-bottom: 16px;
}
.gallery .photo {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.gallery img:hover {
    box-shadow: 0px 0px 12px;
}

.photo img {
    width: 140px;
    height: 140px;
}

.link {
    padding-left: 16px;
    text-align: center;
    border-top: 1px solid #333;
}
.link_photo {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.link_photo img {
    width:80px;
    height: 80px;
}

.slider {
    flex: 1;
    position: relative;
    height: 740px;
    overflow: hidden;
}
.slides {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
} 

.slide{
    position: relative;
    width: 600px;
    height: 740px;
}
.slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide h1 {
    position: absolute;
    top: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    color: deeppink;
    font-size: 24px;
}

.footer {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    padding: 20px 0px;
    background-color: gainsboro;
}

.f_contents {
    flex: 1;
}
.f_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
}
.f_menu li {
    padding: 0 10px;

}

.f_menu a:hover {
    text-decoration: underline;
}

.f_menu li:not(:last-child) {
    border-right: 1px solid #666;
}

.copy {
    text-align: center;
    color: #999;
    font-size: 14px;
}

.sns {
    display: flex;
    gap: 10px;
}


